<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WhizTech Service Request</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav class="navbar">
            <a href="/" class="nav-brand">WhizTech</a>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/submit">Submit Ticket</a>
            </div>
        </nav>

    <div class="form-container">
        <h2>Submit a Service Request</h2>
        <p style="color: #5a568b">Upon submission, you will recieve an automatic confirmation by email.</p>

        <form action="/submit" method="POST" id="serviceForm" novalidate>
            {{ form.csrf_token }}

            <div class="form-group">
                <label for="customer_fname">First Name</label>
                <input type="text" id="customer_fname" name="customer_fname" required>
                <span id="fname-msg" class="validation-msg"></span>
                <label for="customer_lname">Last Name</label>
                <input type="text" id="customer_lname" name="customer_lname" required>
                <span id="lname-msg" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="customer_email">Email Address</label>
                <input type="email" id="customer_email" name="customer_email" required>
                <span id="email-msg" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="service_type">Service Type</label>
                <select id="service_type" name="service_type">
                    <option value="repair">Hardware Repair</option>
                    <option value="software">Software Installation</option>
                    <option value="consultation">Consultation</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="form-group">
                <label for="details">Project Details</label>
                <textarea id="details" name="details" rows="4" placeholder="What seems to be the problem, or how can we help?"></textarea>
                <span id="char-count" class="char-counter">0 / 2500</span>
                <span id="details-msg" class="validation-msg"></span>
            </div>

            <button type="submit" id="submitBtn" disabled>Submit Request</button>
        </form>
    </div>

    <script>
        const form = document.getElementById('serviceForm');
        const fnameInput = document.getElementById('customer_fname');
        const lnameInput = document.getElementById('customer_lname')
        const emailInput = document.getElementById('customer_email');
        const detailsInput = document.getElementById('details');
        const submitBtn = document.getElementById('submitBtn');
        const emailMsg = document.getElementById('email-msg');
        const detailsMsg = document.getElementById('details-msg');
        const fnameMsg = document.getElementById('fname-msg');
        const lnameMsg = document.getElementById('lname-msg');
        const charCounter = document.getElementById('char-count');
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        function validateForm() {
            let isEmailValid = false;
            let isDetailsValid = false;
            let isFnameValid = false;
            let isLnameValid = false;

            if (emailRegex.test(emailInput.value)) {
                isEmailValid = true;
                emailInput.classList.remove('invalid');
                emailInput.classList.add('valid');
                emailMsg.textContent = "Valid email address";
                emailMsg.className = "validation-msg success-text";
            }
            else {
                isEmailValid = false;
                if (emailInput.value.length > 0) {
                    emailInput.classList.add('invalid');
                    emailMsg.textContent = "Please enter a valid email (user@example.com)";
                    emailMsg.className = "validation-msg error-text";
                }
                else {
                    emailMsg.textContent = "";
                }
            }

            const fnameLen = fnameInput.value.length;
            
            if (fnameLen >= 2 && fnameLen <= 50) {
                isFnameValid = true;
                fnameInput.classList.remove('invalid');
                fnameInput.classList.add('valid');
                fnameMsg.textContent = "Valid name";
                fnameMsg.className = "validation-msg success-text";
            }
            else {
                if (fnameLen > 0) {
                    isFnameValid = false;
                    fnameInput.classList.add('invalid');
                    fnameMsg.textContent = "Please enter a valid name";
                    fnameMsg.className = "validation-msg error-text";
                }
                else {
                    fnameMsg.textContent = ""
                }
            }

            const lnameLen = lnameInput.value.length;
            
            if (lnameLen >= 2 && lnameLen <= 50) {
                isLnameValid = true;
                lnameInput.classList.remove('invalid');
                lnameInput.classList.add('valid');
                lnameMsg.textContent = "Valid name";
                lnameMsg.className = "validation-msg success-text";
            }
            else {
                if (lnameLen > 0) {
                    isLnameValid = false;
                    lnameInput.classList.add('invalid');
                    lnameMsg.textContent = "Please enter a valid name";
                    lnameMsg.className = "validation-msg error-text";
                }
                else {
                    lnameMsg.textContent = ""
                }
            }

            const detailsLen = detailsInput.value.length;
            charCounter.textContent = `${detailsLen} / 2500`;

            if (detailsLen >= 25 && detailsLen <= 2500) {
                isDetailsValid = true;
                detailsInput.classList.remove('invalid');
                detailsInput.classList.add('valid');
                detailsMsg.textContent = "Valid message length";
                detailsMsg.className = "validation-msg success-text"
                charCounter.style.color = "#28a745";
            }
            else {
                isDetailsValid = false;
                charCounter.style.color = detailsLen > 2500 ? "#dc3545" : "#666";

                if (detailsLen > 0 && detailsLen < 25) {
                    detailsMsg.textContent = `Please keep typing... (${25 - detailsLen} more characters needed)`;
                    detailsMsg.className = "validation-msg error-text";
                    detailsInput.classList.add('invalid');
                }
                else if (detailsLen > 2500) {
                    detailsMsg.textContent = "Description is too long.";
                    detailsMsg.className = "validation-msg error-text";
                    detailsInput.classList.add('invalid');
                }
                else {
                    detailsMsg.textContent = "";
                }
            }

            if (isEmailValid && isDetailsValid && isFnameValid && isLnameValid) {
            submitBtn.disabled = false;
            submitBtn.innerText = "Submit Request";
            }
            else {
                submitBtn.disabled = true;
                submitBtn.innerText = "Please Complete Form";
            }
        }

        emailInput.addEventListener('input', validateForm);
        detailsInput.addEventListener('input', validateForm);
        fnameInput.addEventListener('input', validateForm);
        lnameInput.addEventListener('input', validateForm);
        
        validateForm();
    </script>

    </body>
    </html>